{{> head }}

  {{> navbar }}

    <div class="row">
        <div class="col-8">
            <h1>About Us</h1>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Corrupti sit repellendus voluptatem dolor culpa non modi excepturi eius! Aliquam quibusdam eveniet porro animi voluptatibus modi commodi, eligendi inventore explicabo totam?</p>
        </div>
        <div class="col-4">
            <img src="assets/img/mqd6il1tfv9y.jpg" class="img-thumbnails" style="width: 50%">
        </div>
    </div>
    
    {{> foot }}