{{> head }}

  {{> navbar }}

    <div class="jumbotron">
        <h1 class="display-4">Hola, {{ capitalizar nombre }}!</h1>
        <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Exercitationem expedita, deserunt cum eum ad, dolore alias tempore magni aperiam maiores blanditiis dolorum minus voluptate quidem sequi laborum similique! Obcaecati, atque!</p>
        <hr class="my-4">
        <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
        <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
    </div>
    
    {{> foot }}